*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-buttons{
    display: flex;
    gap: 20px;
}
.btn,
span{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#btn{
    background-color: #c46409;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px 0;
}
.caja{
    width: 200px;
    height: 200px;
    background-color: red;
}

.btn:hover{
    background-color: antiquewhite;
}

#boton{
    width: 80px;
    height: 35px;
    background-color: bisque;
    border-radius: 20px;
    border: solid gray 1px;
    cursor: pointer;
    margin: 10px 20px;

}

#btn-adivinanza,
#btn-paleta{
    width: 120px;
    height: 30px;
    color: lightgray;
    color: black;
    margin: 10px;
    cursor: pointer;
}
.adivinanza{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adivinanza-text
.respuesta{
    margin: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.paleta{
    width: 400px;
    height: 400px;
}
.container-btn-paleta{
margin: 20px;
}
.numero{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 10px;
    background-color: lightgray;
    border-radius: 20px;
    width: 80px;
    height: 80px;
    margin: 10px;
}

.items{
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}
.items.normal{
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
}